body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    place-items: center;
    font-family: "Baloo Thambi 2", cursive !important;
    height: 100vh;
}

.app {
    height: 100%;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 6rem;
    font-weight: 500;
    margin: 80px auto;
    text-align: center;
}

.emboss {
    background: var(--bg-color);
    box-shadow: 0.3rem 0.3rem 0.5rem var(--gray-color),
        -0.2rem -0.2rem 0.4rem var(--white-color);
    border-radius: 1.2rem;
}

.text-emboss {
    background: var(--text-blue-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(17, 16, 16, 0.25) 1px 2px 1px;
}

.alt-emboss {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gray-color),
        inset -0.2rem -0.2rem 0.5rem var(--white-color),
        0.3rem 0.3rem 0.5rem var(--gray-color), -0.2rem -0.2rem 0.4rem var(--white-color);
    border-radius: 1.2rem;
    align-items: center;
}

.bg-style {
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1.2rem;
    background: var(--bg-color);
    box-shadow: 0.3rem 0.3rem 0.5rem var(--gray-color),
        -0.2rem -0.2rem 0.4rem var(--white-color);
}

.app-search {
    margin-bottom: 40px;
    width: 100%;
    height: fit-content;
}

.app-display {
    width: 100%;
    gap: 40px;
}

.app-display,
.app-search {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.searchForm {
    width: 100%;
    height: 70px;
    display: inline-flex;
}

.search {
    gap: 20px;
    width: 60%;
    display: inline-flex;
}

.search-btn {
    gap: 20px;
    width: 40%;
    display: inline-flex;
}

.search-input {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--gray-color),
        inset -0.2rem -0.2rem 0.5rem var(--white-color);
    background: var(--bg-color);
    border: none;
    border-radius: 1.2rem;
    display: inline-flex;
    align-items: center;
    padding: 1rem 1rem;
    height: 50px;
    width: 100%;
    gap: 20px;
}

.iconInput {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
}

.searchCity {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    background-color: transparent;
    border: 0;
    color: var(--text-blue-color);
    font-size: 22px;
    font-weight: 500;
    outline: none;
}

.noResult {
    position: relative;
    width: 110px;
    color: var(--orange-pr-color);
    font-size: 20px;
    font-weight: 500;
}

.reset-btn {
    width: 20%;
}

.search-btn {
    width: 80%;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    border-radius: 1.2rem;
    padding: 8px 10px;
    transition: all 260ms ease;
    text-decoration: none;
    font-size: 20px;
    height: 60px;
    color: var(--text-blue-color);
    background: var(--bg-color);
    box-shadow: 0.3rem 0.3rem 0.5rem var(--gray-color),
        -0.2rem -0.2rem 0.4rem var(--white-color);
}

.btn:hover {
    color: var(--bg-color);
    background: var(--orange-color);
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--yellow-color),
        inset -0.2rem -0.2rem 0.5rem var(--orange-pr-color),
        0.3rem 0.3rem 0.5rem var(--gray-color), -0.2rem -0.2rem 0.4rem var(--white-color);
}

.mainSide {
    width: 60%;
    height: 320px;
}

.historySide {
    width: 40%;
    height: 320px;
    display: flex;
}

.main {
    width: 100%;
    display: inline-flex;
    gap: 18px;
}

.icon-header {
    width: 22%;
    height: 200px;
    padding: 20px 10px 0px;
    align-items: center;
}

.icon-weather {
    width: 102px;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.text-weather {
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
    color: var(--text-blue-color);
    text-align: center;
}

.titleInfo-header {
    width: 80%;
    height: 200px;
    padding-right: 10px;
}

.titleInfo_city {
    width: 90%;
    display: inline-flex;
    align-items: baseline;
    gap: 20px;
    padding: 20px 18px;
    margin-bottom: 20px;
}

.primary-text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-blue-color);
}

.sub-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-blue-color);
    opacity: 0.6;
}

.titleInfo_temp {
    width: 90%;
    height: 30px;
    padding: 20px 18px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: baseline;
    gap: 20px;
}

.titleInfo_time {
    width: 90%;
    height: 18px;
    padding: 12px 18px 10px;
    border-radius: 16px;
}

.lastUpdate {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-blue-color);
    opacity: 0.6;
}

.footer {
    margin-top: 18px;
    width: 90%;
    height: 70px;
    padding: 12px 20px 10px;
    gap: 20px;
}

.plus-data {
    font-size: 22px;
}

.p-text {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-blue-color);
}

.app_humidity-data,
.app_cloud-data,
.app_wind-data {
    width: 33%;
}

.renderHistory {
    width: 90%;
    height: 90%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.renderHistory::-webkit-scrollbar {
    width: 10px;
}

.renderHistory::-webkit-scrollbar-track {
    background: transparent;
}

.renderHistory::-webkit-scrollbar-thumb {
    background: var(--text-blue-color);
    border-radius: 4px;
}

.renderHistory::-webkit-scrollbar-thumb:hover {
    background: var(--orange-color);
  }

.displayClearHistory {
    display: flex;
}

.historyCard {
    position: relative;
    display: inline-flex;
    width: 95%;
    height: auto;
    margin-bottom: 18px;
    padding: 6px 8px;
    gap: 18px;
    align-items: center;
}

.clearHistory {
    display: flex;
    text-align: center;
    justify-content: center;
}

.noneActive {
    display: none;
}

.card_icon {
    width: 62px;
    height: auto;
}

.historyTextCard {
    width: 70%;
    height: fit-content;
}

.cardTitle {
    margin-bottom: 10px;
}

.card_city, .card_temp, .card_weather {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-blue-color);
}

.cardTempInfo {
    display: inline-flex;
    gap: 18px;
}