:root {
    --bg-color: rgb(224, 229, 236);
    --text-blue-color: rgb(155, 170, 207);
    --orange-color: rgb(255, 112, 37);
    --yellow-color: rgb(247, 180, 56);
    --orange-pr-color: rgb(255, 76, 0);
    --gray-color: rgb(195 193 198 / 90%);
    --white-color: rgb(255, 255, 255);
}